<div class="landing-container">
  <div class="hashtags">
    #students #university #events
  </div>

  <div class="wrapper">
    <div class="background"></div>
    <h1 class="slogan">
      <div class="first-line">
        <span class="bg-gradient-to-r from-pink-600 via-orange-500 to-violet-600 bg-clip-text text-transparent">
          Univent:
        </span>
        Student Life, Event Ready <br />
      </div>
      <div class="second-line">
        From Study Sessions to Socials - All In One
        <span class="text-inline">
          Place
          <img src="1F680.svg" alt="Rocket icon" class="rocket-icon" />
        </span>
      </div>
    </h1>
  </div>

  <button class="get-started-button">
    <img src="1F449.svg" alt="Hand icon" class="hand-icon" />
    Get Started Now
  </button>


  <div class="gallery-section">
    <div class="text-section">
      <div class="text-box">
        <h2>Explore Student Life <br /> Beyond the Classroom</h2>
        <p>Campus life is more than lectures and deadlines — it's where memories are made.</p>
        <p>Don't wait for the fun to find you. Explore events happening now and make this semester unforgettable.</p>
      </div>
    </div>
      
    <div class="image-section">
      <div class="image-grid">
        <div class="image-grid-connection"></div>
        <div class="image-card-first">
          <img src="abstral-official-R0_XqZ5x_AQ-unsplash.jpg" alt="First image" />
        </div>
        <div class="image-card-second">
          <img src="jennie-razumnaya-XbcfTH69aAc-unsplash.jpg" alt="Second image" />
        </div>
        <div class="image-card-third">
          <img src="wesley-tingey-dKCKiC0BQtU-unsplash.jpg" alt="Third image" />
        </div>
        <div class="image-card-fourth">
          <img src="serge-kutuzov-_FPy-FUndok-unsplash.jpg" alt="Fourth image"/>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-border"></div>
</div>
