<app-navbar></app-navbar>

<div class="max-w-7xl mx-auto p-6">
  <!-- Event Image -->
  <div class="w-full h-96 flex justify-center items-center">
    <img
      *ngIf="event?.pictureUrl"
      [src]="event?.pictureUrl"
      alt="Event Image"
      class="max-w-full max-h-96 object-contain rounded-lg shadow-md" />
  </div>

  <!-- Event Details -->
  <div class="mt-6">
    <p class="text-3xl font-semibold text-center">{{ event?.name }}</p>

    <!-- Author, Date, and Participants -->
    <div class="mt-8 flex justify-between items-start">

      <!-- Left: Author Information & Created Date -->
      <div class="flex flex-col">
        <!-- Author -->
        <div class="flex items-center mb-1">
          <img *ngIf="event?.author?.pictureUrl; else showInitials"
            [src]="event?.author?.pictureUrl"
            alt="User Avatar"
            class="w-10 h-10 rounded-full mr-2 transition duration-200 hover:scale-105 hover:ring-2 hover:ring-offset-1 hover:ring-blue-500 cursor-pointer"
            (click)="onUserClick(event?.author?.id)"/>
          <ng-template #showInitials>
            <div class="w-10 h-10 rounded-full bg-gray-400 flex items-center justify-center text-white text-lg mr-2
                        transition duration-200 hover:scale-105 hover:ring-2 hover:ring-offset-1 hover:ring-blue-500 cursor-pointer"
              (click)="onUserClick(event?.author?.id)">
              {{ getAuthorInitials(event?.author || null) }}
            </div>
          </ng-template>
          <div>
            <span class="text-sm font-medium transition duration-200 hover:text-blue-600 hover:underline cursor-pointer"
              (click)="onUserClick(event?.author?.id)">
              {{ getAuthorFullName() }}
            </span>
            <div class="flex items-center bg-gray-200 rounded-full px-1 pr-2 w-fit mb-1">
              <mat-icon style="width: 20px; color: #FFA500; font-size: 18px; vertical-align: middle; padding-top: 3px;">star</mat-icon>
              <span class="text-xs font-medium text-gray-800">{{ event?.author?.rating?.toFixed(2) }}</span>
            </div>
          </div>
        </div>

        <!-- Created Date -->
        <p class="text-gray-500 text-sm">{{ formattedDate }}</p>
      </div>

      <!-- Right: Start Date & Participants -->
      <div class="text-right">
        <p class="mb-2 text-lg text-gray-600">
          <mat-icon style="vertical-align: middle;">event</mat-icon>
          {{ formattedStartTime }}
        </p>
        <p class="text-lg text-gray-600 mt-1 cursor-pointer hover:underline hover:text-blue-600 transition"
          (click)="openParticipantsDialog()">
          <mat-icon style="vertical-align: middle;">people</mat-icon>
          {{ enrolledCount }} / {{ event?.maximumParticipants }} Participants
        </p>
      </div>

    </div>

    <!-- Description -->
    <div class="mt-8">
      <p class="text-xl font-semibold text-gray-900">Description</p>
      <mat-divider style="margin: 8px 0; background-color: rgba(0, 0, 0, 0.15);"></mat-divider>
      <p class="mt-4 text-gray-800">{{ event?.description }}</p>
    </div>

    <!-- Location Map Section -->
    <div *ngIf="event?.locationLat && event?.locationLong" class="mt-8 mb-8">
      <p class="text-xl font-semibold text-gray-900">Location</p>
      <mat-divider style="margin: 8px 0; background-color: rgba(0, 0, 0, 0.15);"></mat-divider>
      
      <!-- Location Address -->
      <div class="mt-4 text-gray-700">
        <mat-icon style="vertical-align: middle;">location_on</mat-icon>
        {{ event?.locationAddress }}
      </div>

      <div class="w-full h-[40rem] mt-4 rounded-lg overflow-hidden">
        <google-map
          height="100%"
          width="100%"
          [zoom]="15"
          [center]="{ lat: event!.locationLat, lng: event!.locationLong }">
          
          <map-marker 
            [position]="{ lat: event!.locationLat, lng: event!.locationLong }">
          </map-marker>

        </google-map>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-end mt-10 mb-10">
    <div class="mr-4">
      <app-custom-button
        variant="secondary"
        label="View Participants"
        type="button"
        (customClick)="openParticipantsDialog()">
      </app-custom-button>
    </div>

    <ng-container *ngIf="!isAuthor">
      <!-- Show Leave button if already a participant -->
        <app-custom-button
          variant="warning"
          label="Leave Event"
          type="button"
          *ngIf="isParticipant"
          [disabled]="!canJoinOrLeave"
          (customClick)="leaveEvent()">
        </app-custom-button>
  
      <!-- Show Join button if not a participant -->
        <app-custom-button
          variant="primary"
          label="Join Event"
          type="button"
          *ngIf="!isParticipant"
          [disabled]="isEventFull || !canJoinOrLeave"
          (customClick)="joinEvent()">
        </app-custom-button>
    </ng-container>
  </div>
</div>
